body {
    font-family: Arial, sans-serif;
    background-color: #c9e4c5;
    text-align: center;
    margin: 0;
    padding: 0;
}
h1 {
    font-size: 45px;
    color: #00594c;
}
p {
    font-size: 18px;
    color: #333;
}
.paragraf {
    text-align: left; 
    margin-left: 10px;
}
.alinea {
    text-align: left; 
    margin-left: 10px; 
    text-indent: 40px;
}
ul {
    text-align: left;
}
ol {
    text-align: left;
}
li {
    font-size: 18px;
    color: #333;
}
a {
    text-decoration: none;
    color: #0077b6;
}
img {
    width: 600px;
    max-width: 100%;
    height: auto;
}
.button {
    background-color: aquamarine;
    color: black;
}